<router-outlet></router-outlet>
<style>
  .Show {
    display: block;
    background-color: yellow;
  }

  .Hide {
    display: none;
  }

  .border {
    border: 10px solid black;
  }
</style>
<!-- //interpolation -->
<h1>Welcome {{title}} {{name}}</h1>

<button (click)="page='home'">Home</button>
<button (click)="page='contact'">Contact</button>
<button (click)="page='about'">About</button>

<app-home [uname]="name" *ngIf="page=='home'"></app-home>
<app-contact [data]="{'name':'Stephin','mobile':9730188945}" *ngIf="page== 'contact'"></app-contact>
<app-about [details]="arrobj" *ngIf="page== 'about'"></app-about>
<app-edit-user></app-edit-user>

<form (ngSubmit)="addobject()">


  <div class="row">
    <div class="col">

    </div>

    <div class="row">
      <div class="col">
        <h6>Add Name </h6>
        <input type="text" id="name" name="sname" [(ngModel)]="sname">
      </div> 
      <div class="col">
        <h6>Add MobNumber </h6>
        <input type="text" id="smobile" name="smobile" [(ngModel)]="smobile">
      </div>
      <div class="col">
        <h6>Add Marks </h6>
        <input type="text" id="smarks" name="smarks" [(ngModel)]="smarks">
      </div>

      <div class="col">
      </div>
    </div>
  </div>
  <button class="m-3" type="submit">Add Object</button>
</form>


<div *ngFor="let value of arr">
  {{value}}
</div>
<div *ngFor="let step of arrobj; let i = index">
  {{i+1}}. {{step.Name}}||{{step.MobileNo}}
</div>

<br>

<table class="table">

  <tr>
    <th>Name</th>
    <th>MobNumber</th>
    <th>Marks</th>
  </tr>


  <ng-container *ngFor="let step of arrobj">
    <tr [style.background-color]="(step.Marks < 35) ? 'green':''">
      <td>{{step.Name}}</td>
      <td>{{step.MobileNo}}</td>
      <td>{{step.Marks <=35 ? 'fail' :'Pass'}}</td>
    </tr>
  </ng-container>

</table>

<br>



{{getNUMBER(20,8,8)}}
<div [style.backgroundColor]="colour">Hello</div>
<div [style.background-color]="colour">Hello</div>
<button (click)="EventChange()">Event Change</button>

<!-- //property binding -->
<div class="row" *ngIf=showall>
  <input [type]="type" [value]="name">

  <!-- Attribute binding -->
  <table border="1">
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>

    <tr>
      <td [attr.colspan]="col">4</td>
    </tr>
  </table>


  <button (click)="Onclick('Stephin')">Stephin</button>
  <button (click)="Onclick('Rutuja')">Rutuja</button>


  <input type="text" (keyup)="setTitle($event)">

</div>


******class Binding*****

<div [class.border]="size==24">
  Hello Stephin Working Hard
</div>
<button (click)="decrease()">-</button>
{{size}}
<button (click)="increase()">+</button>
<br>
<div>The Actual size is {{acutual}}</div>

<br>

<form>
  <label>
    <input type="checkbox">
    Childern
  </label>
</form>
<form>
  <label>
    <input type="checkbox">
    Adult
  </label>
</form>
<form>
  <label>
    <input type="checkbox" (change)="Onchange($event)">
    Older
  </label>
</form>
<br>

kaniyanjalil stephin james 
<form>
  <label>
    Select an option:
    <select (change)="handleChange($event)">
      <option value="">-- Select --</option>
      <option value="Childern">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </label>
</form>

<hr>
<div [ngStyle]="change ? cssObj : cssObj1">

  <h4>Directives</h4>
  Attribute Directives
  ngStyle,ngclass
</div>

<button (click)="colourChanage()">Change</button>


<hr>
Structural Directives <br>
ngIf,ngFor,ngSwitch
<div *ngIf="age<=18">
  Children
</div>
<div *ngIf="age>=19 && age<=59">
  Young
</div>
<div *ngIf="age>60">
  Old
</div>
<hr>
<button (click)="setActiveTab(1)" type="button" class="btn btn-primary m-1">TAB 1</button>
<button (click)="setActiveTab(2)" type="button" class="btn btn-secondary m-1">TAB 2</button>
<button (click)="setActiveTab(3)" type="button" class="btn btn-success m-1">TAB 3</button>

<div *ngIf="activeTab == 1">
  Tab 1
</div>
<div *ngIf="activeTab == 2">
  Tab 2
</div>
<div *ngIf="activeTab == 3">
  Tab 3
</div>